
html, body{
    width:100%;
    height:100%;    
    margin:0 auto;
}
body{
    width:100%;
    height:100%;
    background: #fff;
    font-smooth: never;
    font-family: ATCTimberlineBold, monospace, courier, fixed;
    font-size: 18px;
    color: #000;
    margin: 0 auto !important;
  /*max-width: 1400px;*/
    position: relative;
}


input,
textarea{
    font-family: ATCTimberlineBold, monospace, courier, fixed;
    font-size: 18px !important;
	-webkit-tap-highlight-color:transparent;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

 nav div.mb{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    flex-wrap: wrap;
 }

nav div.mb > div{

    width: 100%;
 }
nav div.mb > div > div{
    width:100%;

}

.fm-logo-back{
	width:412px;
	height:155px;
	max-width:50%;
	max-height:50%;
    font-smooth: never;
    line-height: 20px;
    font-size: 16px;
    -webkit-font-smoothing : none;
    background:  url(../images/Fleximodal_TV_Logo_2_white.svg) center center no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size:contain;
	color: #ffffff;
	position:absolute;
	z-index:-1;
	margin-left: -206px;
    margin-top: -77px;
	left:50%;
	top:50%;

}
.fm-logo-menu{
	width: 100%;
    height: 146px;
    background: url(../images/Fleximodal_TV_Logo_2_white.svg) center center no-repeat;
    cursor: pointer;
    background-size: 60%;
}
.fm-logo-menu a{
	display:block;
	width:100%;
	height:100%;
}
#channel{
	width: 100%;
    height: 85%;
    top: 15%;
    position:relative;
    overflow: hidden;
}
.fm-logo-menu:hover{
	display:block;
}
.channels-controller{

	text-align: center;
}
.btn.tv-guide-btn{
    -webkit-border-radius:  0.5em;
	-moz-border-radius:  0.5em;
	border-radius: 0.5em;
	border:1px solid #7d7f80;
	margin: 6%;
	padding: 7% 10%;	
	cursor:pointer;
    left:0px;
    top:0px;
    transition: left 0.25s ease, top 0.25s ease;
}
.btn.tv-guide-btn::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid #7d7f80;
	left: 3px;
	top: 3px;
	z-index: -1;
    -webkit-border-radius:  0.5em;
	-moz-border-radius:  0.5em;
	border-radius: 0.5em;
	text-align: center;
    transition: left 0.25s ease, top 0.25s ease;
}
.btn.about{
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius:1em;
	border:1px solid #7d7f80;
	margin: 6%;
	padding:10%;	
	cursor:pointer;
	margin-top:5%;
    left:0px;
    top:0px;
    transition: left 0.25s ease, top 0.25s ease;
}
.channel-menu {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.btn.about,
.channel-menu > div{
    display:inline-block;
	border:1px solid #7d7f80;
	background:#000;
    margin: 6% 2% 6% 2%;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    text-align: center;
    width: 32%;
    height:35px;
    justify-content: center;
	align-items: center;
	display: flex;
	position: relative;
    left:0px;
    top:0px;
    transition: left 0.25s ease, top 0.25s ease;
}
.channels-controller .btn{
    text-align: center;
    margin: 10% auto 18% auto;
    position: relative;
    background: #000;
    width: 80%;
    left:0px;
    top:0px;
    transition: left 0.25s ease, top 0.25s ease;
}
.btn.about::after,
.channel-menu > div::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid #7d7f80;
	left: 3px;
	top: 3px;
	z-index: -1;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	text-align: center;
    transition: left 0.2s ease, top 0.2s ease;

}
.tv-guide-btn:hover,
.btn.about:hover, 
.btn.about.active,
.channel-menu > div:hover, 
.channel-menu > div.active, 
.tv-guide-btn.active,
.schedule-btn .btn:hover, 
.schedule-btn.active .btn,
.fullscreen-btn .btn:hover {
    left:3px;
    top:3px;
    transition: left 0.2s ease, top 0.2s ease;
}
.tv-guide-btn:hover::after,
.btn.about:hover::after, 
.btn.about.active::after, 
.channel-menu > div.active::after, 
.tv-guide-btn.active::after,
.channel-menu > div:hover::after, 
.schedule-btn .btn:hover::after,
.schedule-btn.active .btn::after,  
.fullscreen-btn .btn:hover::after {
    left:5px;
    top:5px;
    transition: left 0.2s ease, top 0.2s ease, background 0.2s ease;
}
.channel-menu > div.active a{
     color:#000;
}
.tv-guide .channels {
    height: 100%;
}
section .channel .live a, 
section .channel .future a {
    height: 91%;
}
section .channel .live a .t,
section .channel .future a .t {
}
section .channel .live, 
section .channel .future {
    height: 35%;
}
.channels-controller .btn:hover,
.btn.about:hover,
.channel-menu > div.current,
.channel-menu > div:hover{
	/*background:#fff;*/
	color:#fff;
    left:-2px;
    top:-2px;
    transition: left 0.2s ease, top 0.2s ease, background 0.2s ease;
}

.channel-menu > div:active::after {
	left: 0px;
	top: 0px;
}

.btn.about.active:hover,
.tv-guide-btn.active:hover{
   background:#fff;
    color:#000;
    left:3px;
    top:3px;
    transition: left 0.25s ease, top 0.25s ease, background 0.25s ease;
}

.channel-menu > div.current,
.schedule-btn.active .btn,
.btn.about.active,
.tv-guide-btn.active,
.channel-menu > div.active,
.channel-menu > div:active,
.channel-menu > div:focus,
.channel-menu > div:target {
    color:#000;
    background:#fff;
    left:3px;
    top:3px;
}
.channel-menu > div.current::after,
.schedule-btn.active .btn::after,
.btn.about.active::after,
.tv-guide-btn.active::after,
.channel-menu > div.active::after{
    display:none;
}

.btn{
	cursor:pointer;
}
.channel-menu > div a{
	display: inline-block;
    align-self: center;
    display: flex;
	width: 100%;
    height: 100%;
}
.channel-menu > div > a > div{
    display: inline-block;
    align-self: center;
    width: 100%;
}

.channels-controller .btn.about{
    width:50px;
    height:50px;
    border-radius:50px;
}
.btn.about::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #7d7f80;
    right: -3px;
    top: 3px;
    z-index: -1;
    border-radius: 50px;
    -moz-border-radius:50px;
    -webkit-border-radius: 50px;
    text-align: center;
}
nav div.separator{
    width: 80%;
    margin:0 10%;
    height: 5px;
    background: #fff;
    border-radius: 5px;
}
nav .separator div{
    width:100%;
	background: #fff;
	border-radius:0.5rem;
	-moz-border-radius:0.5rem;
	-webkit-border-radius:0.5rem;
}
.skip-link.screen-reader-text{
	display:none;
}
#site-footer{
    width: 80%;
    position: absolute;
    height: 70px;
    bottom: 0;
    right: 0;
}
#site-content{
    width: 87%;
    margin:0;
    margin-left: 13%;
    height:100%;
    background: #000;
    overflow: hidden;
    /*max-width: 1400px;*/
}

.section-inner:after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
.logo-pause{
	width:100%;
	height:100%;
	position: absolute;
	background: #000;
	visibility: hidden;
}
.logo-pause > div:first-child{
	left: 50%;
    top: 50%;
    width: 25%;
    position: relative;
    margin-left: -15%;
    margin-top: -15%;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    display: block;
}
.logo-pause > div > div:last-child{
	padding:0.75rem 0;
}
.social{
    width:100%;
    text-align:center;
    margin: 2rem;
}
.crew .insta,
.social .insta{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(../images/insta_white.svg) no-repeat;
}
nav{
    position: absolute;
    z-index: 2000;
    left:0;
    top:0;
    min-height: 100%;
    width:13%;
    background: #000;
}
#menu-main-menu li{
	margin:0;
}

#titlebar{
	width:100%;
	margin:0.2rem;
}
#titlebar > div:first-child{
	width:40%;
	display:inline-block;
}
#titlebar > div:last-child{
	width:58%;
	display:inline-block;
	text-align:right;
}
#titlebar > div  a > div,
#titlebar > div > div{
	display:inline-block;
}
.headlines{
	width:100%;
	
}
.headlines > div{
	padding:0.2rem;
}
.msg{
	width:78%;
	display: inline-block;
}
.pgnum{
	width:20%;
 	text-align:right;
 	display: inline-block;
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: #fff;
}

/* visited link */
a:visited {
	color: #fff;
}

/* mouse over link */
a:hover {
    color: #fff;
}

/* selected link */
a:active {
    color: #000;
}
/* flashing class, it's like the 'blink' tag is back */
.flashing {
    animation: flashing 1.3s steps(5, start) infinite;
    -webkit-animation: flashing 1.3s steps(5, start) infinite;
}
@keyframes flashing { to { visibility: hidden; } }
@-webkit-keyframes flashing { to { visibility: hidden; } }

/* concealed text is initially hidden, reveal by modifying class */
.conceal { opacity: 0; }

.colour0, .black,   a.black,   .black a    {color: #000000;}
.colour1, .red,     a.red,     .red  a       {color: #ff0000;}
.colour2, .green,   a.green,   .green  a   {color: #00ff00;}
.colour3, .yellow,  a.yellow,  .yellow a  {color: #ffff00;}
.colour4, .blue,    a.blue,    .blue a      {color: #0000ff;}
.colour5, .magenta, a.magenta, .magenta a{color: #ff00ff;}
.colour6, .cyan,    a.cyan,    .cyan  a     {color: #00ffff;}
.colour7, .white,   a.white,   .white  a   {color: #ffffff;}

.colour0bg, .blackbg     {background-color: #000000;}
.colour1bg, .redbg         {background-color: #ff0000;}
.colour2bg, .greenbg     {background-color: #00ff00;}
.colour3bg, .yellowbg   {background-color: #ffff00;}
.colour4bg, .bluebg       {background-color: #0000ff;}
.colour5bg, .magentabg {background-color: #ff00ff;}
.colour6bg, .cyanbg       {background-color: #00ffff;}
.colour7bg, .whitebg     {background-color: #ffffff;}


.schedule,
.aboutFMTV{
	position: absolute;
    z-index: 9999;
    height: 85%;
    overflow: hidden;
    width: 100%;
    display: none;
    padding: 6px 20px;
}
.tv-guide{
    position: absolute;
    z-index: 9999;
    height: 85%;
    overflow: hidden;
    width: 100%;
    display: none;
    padding: 6px 20px;
}
.tv-guide .inner{
	height:100%;
	flex: 0 0 calc(100% - 2.5rem);
    position: relative;
    background:blue;
    border:5px solid blue;
    border-radius:5rem;
}
.schedule .inner,
.aboutFMTV .inner{
    /*width:100%;*/
    height:100%;
    flex: 0 0 calc(100% - 2.5rem);
    position: relative;
    background:black;
    border:4px solid white;
    border-radius:5rem;
    overflow: hidden;
}
.aboutFMTV .inner{
    flex: 0 0 calc(100% - 1.5rem);
    max-height: 100%;
}
.aboutFMTV .inner section{
    padding: 3rem 3rem 0 3rem;
    display:flex;
    justify-content: center;
    max-height: 100%;
}
.aboutFMTV .inner section > div{
    flex:2;
    padding:0 1rem;
}
.aboutFMTV .inner section > div:first-child{
    overflow-y: scroll;
}

.aboutFMTV .inner section > div:last-child{
    flex:1;
}
.aboutFMTV .inner section h2,
.aboutFMTV .inner section h4,
.aboutFMTV .inner section p{
    width:100%;
    margin:0 0 1.5rem 0;
}
.aboutFMTV .inner section h2,
.aboutFMTV .inner section h4{
    text-transform: uppercase;
}
.aboutFMTV .inner section p,
.aboutFMTV .inner section a{

    font-family: ATCTimberlineRegular, monospace, courier, fixed;
    font-size:18px !important;
    line-height:1.3;
}
.aboutFMTV .inner section a:hover{
    color:#fff;
    text-decoration: underline;
}
.aboutFMTV .inner section h4{
    font-size:14px !important;
}
.aboutFMTV .inner section ul li{
    margin: 0 0 1.5rem 0;
}
.aboutFMTV .inner section ul li > div{
    display:inline-block;
}
.aboutFMTV .inner section .wigflex{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../images/wigflex-logo_INV.png) no-repeat;
    background-size: contain;
    background-position:center;
}
.aboutFMTV .inner section .multimodal{
        display: inline-block;
    width: 50px;
    height: 50px;
    background: url(../images/MM-INV-2.svg) no-repeat;
    background-size: contain;
    background-position:center;
}
.aboutFMTV .inner section .ace{

    display: inline-block;
    width: 170px;
    height: 70px;
    background: url(../images/ACE_logo_white.svg) no-repeat;
    background-size: contain;
    background-position:center center;    
}
.aboutFMTV .inner section .crackmag{

      display: inline-block;
    width: 100px;
    height: 60px;
    background: url(../images/crackmag.png) no-repeat;
    background-size: contain;
    background-position:center center;    
}
.aboutFMTV .inner section .floatingpoint{
    display: inline-block;
    width: 190px;
    height: 60px;
    background: url(../images/flplogo.svg) no-repeat;
    background-size: contain;
    background-position:center;   
}
.tv-guide .channels{
	display:flex;
}
.tv-guide .channel{
    flex-basis: 24.75%;
    padding: 0 0 0 1%;
	flex-grow: 0;
}
.teletext {
    text-align: left;
    white-space: pre;
    display: block;
    font-size: 16px;
    font-smooth: never;
    -webkit-font-smoothing : none;
}
.headline{
	display:inline-block;
	width:100%;
}
.headline.one{
    font-family: VerminVibes1989Regular, monospace, courier, fixed;
    text-transform: uppercase;
    font-size: 139px;
    line-height: 1;
    text-shadow: 6px 6px 0px #f00;
    padding-top: 1rem;
}
.welcome{
	line-height:1.25;
	padding: 1rem 0;
	display: inline-block;
}
.welcome img{
    float: left;
    margin: 3rem 2rem 4rem 0;
}
.welcome p{
	margin-bottom:1rem;
}
.footer-copyright{
	text-align: center;
	padding: 1rem 0;
}    
.headlines{
	padding:0.5rem;
}
section{
	width:100%;
	border:5px solid #00f;
	border-left:10px solid #00f;
	border-right:10px solid #00f;
	margin-bottom:0.5rem;
}
section .header{
	font-family: Teletext50UC, Mode7, monospace, courier, fixed;
	text-transform: uppercase;
	font-size: 46px;
    line-height: 1;
    padding: 0.5rem 0;
}
section .channel-header{	
    text-align: center;
    height:20%; 
    display: flex;       
    flex-direction: column;
    align-content:space-between;
    margin: 0.5rem 0;
}
section .channel-header .logo{      
    width:100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
}
section .channel-header .logo img{
    max-width: 80%;
    max-height: 100%;
    margin: 0 auto;
}
section .channel-header .chnl_num{
	color:yellow;
	width:100%;
	margin-top:0.5rem;
    font-size: 1.5rem;
    flex-grow: 1;
}
div.tv-guide{
   font-family: Teletext50E, monospace, courier, fixed !important;
}
section .channel .live,
section .channel .future{
	height: 35%;
}
section .channel .live{
    margin-bottom:0.5rem;
}
section .channel .live a,
section .channel .future a{
    display: block;
    margin: 0 0 1rem 0;
    text-align:right;
    padding:1rem 0.75rem 0.25rem 0.75rem;
    background:#000;
    margin-bottom:1rem;
    font-size:0.95rem;
}
section .channel .live a.interval_broadcast,
section .channel .future a.interval_broadcast{
    background:none;
}
section .channel .live a div,
section .channel .future a div{
    margin-bottom:0.5rem;
}
section .channel .live a div:last-child,
section .channel .future a div:last-child{
    margin-bottom:0rem;
}
section .channel .live a,
section .channel .future a{
	color:#fff;
    display: flex;
    flex-direction: column;
}
section .channel .live a .t,
section .channel .future a .t{
   color:yellow; 
   font-size:1.2rem;
   text-align:left; 
   flex-grow:1;
}
section .channel .type{
    font-size: 0.83rem;
    text-align: center;
    padding: 0.25rem 0;
}
section .channel .bt,
section .channel .bd{
    display:flex;
    justify-content: space-between;
    position: relative;
}
section .channel .bt::before,
section .channel .bd::before{
    border-bottom:0.15rem dotted #fff;
    content: '';
    width:100%;
    height:100%;
    position: absolute;
    top:-11px;
}
section .channel .bt > div,
section .channel .bd > div{
    background: #000;
    position: relative;
    z-index:10;
}
section .channel .bt > div:first-child,
section .channel .bd > div:first-child{
    padding-right:4px;
 }
section .channel .bt > div:last-child,
section .channel .bd > div:last-child{
    padding-left:4px;
}

section .broadcasts{
	text-transform: uppercase;
}
section .broadcasts > div{
	padding:0.5rem 0;
}
.testcard{
	font-size:29px;
}
.m,
.mb{
    display:none;
}

@media ( max-width: 800px ) {

    body{
        font-size: 1rem;
    }
    .dt{
        display:none;
    }
    .m,
    .mb{
        display:block;
    }
    .mb{
        display: block;
        position: absolute;
        z-index:99;
        width: 100%;
        bottom: 62px;
    }
    header.header{
        width:100%;
        left:0;
        top: 35px;
    }
    #channel{
        width: 100%;
        height: 100%;
        top:0;
        position:static;
        overflow: hidden;
    }
    .tv-guide, .schedule, .aboutFMTV{
        width:100%;
        padding:0;
    }    
    .tv-guide .channels {
        flex-direction: column;
    }   
    .tv-guide{
        min-height:100%; 
        min-height: 100%;
        padding-bottom: 60px;
        height: auto;
        overflow: scroll;
        top: 0;
        margin-bottom: 20%;
    }
    .tv-guide .inner{
        border-radius:0;
        padding-top: 7%;
    }
    section .channel-header{
        min-height: 150px;
        display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    section .channel-header .logo{
        align-self: flex-end;
        margin:2% 0;
    }
    .aboutFMTV{
       height:auto;
    }
    .aboutFMTV .inner{
        max-height:none;
    }
    .schedule .inner,
    .aboutFMTV .inner{
        border-radius: 0;
        padding-bottom: 15%;
    }
    .aboutFMTV .inner section{
        padding:1rem 1rem 0 1rem;
        flex-direction: column;
        max-height:none;
    }
    .aboutFMTV .inner section > div:first-child{
        overflow-y: auto;
    }
    section .channel-header .logo{
        -webkit-align-self: flex-end;
        align-self: flex-end;
    }   
    section .channel-header .logo img {
        max-width: 50%;
    }
    .fm-logo-menu{
        width: 30%;
        margin:0.4rem auto;
        margin-top:10px;
        height: 60px;
        background-size:auto;
    }
    nav div.separator{
        display:none;
    }
    #site-content{
        width:100%;
        margin: 0;
    }
   
    .channel-controls > div{
        margin: 0 10px 10px 10px;
    }
    .partners .red.dot{
        display:none;
    }   
    .schedule .inner, .aboutFMTV .inner {
        height: 100%;
        flex: 0 0 calc(100%);
        position: relative;
        background: black;
        border: none;
        border-radius: 0;
        overflow: auto;
    }
    .schedule .inner section{
        flex-direction: column;
            height: auto;
    }
    .schedule .inner section{
        height: auto;
    }    
    .schedule .inner section > div:first-child {
        border-right: none;
        
    }
    .schedule .inner section .chnl-header > div:first-child{
        width: 100%;
        height:100%;
        display: block;
        max-height:none;
        overflow:auto;
        min-height: 200px;
    }
   
    .channel-controls{
        bottom: 0px;
        height:56px;
        position: fixed;
        background:#000; 
    }
    .logo-pause > div:first-child{
        width:40%;
    }
    .btn.about, .channel-menu > div{
        width: 22%;
        margin: 0.5%;
        height: 40px;
    }

    .gen-btns{
        display:flex;
        flex-direction:row;
        justify-content: space-evenly;
        align-items:center;
        width:100%;
    }
    .channels-controller .btn{
        width: auto;
        margin:2% 0;
        padding: 4% 5% 4% 5%;
    }
     .channels-controller .btn.about{
    }  
    .mb-close-btn{
        position:fixed;
        top:0;
        right:0;
        cursor:pointer;
        background: #000;
        padding:3% 4%;
        width: auto;
        height: 30px;
        /*display:none;*/
        z-index:999999;
        font-size: 0.75rem;
    }

    div.crew{
        width: 80% !important;
        margin: 0 auto;
    }
    div.crew a{
        flex:1;
    }
    .channel-menu {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @media (orientation: landscape) {
     .section-inner{
       /* height: 46%;*/
       max-width: 70%;
       margin: 0 auto;
     }
       
    }

    @media (orientation: portrait) {
     .section-inner{
        top: 70px;
        height:36%;
          clip-path: inset(10px 20px 10px 20px);
        -webkit-clip-path: inset(10px 20px 10px 20px);
        
     }
    }
}
