
$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.header{ 
  height:117px;
  position:absolute;
  top:0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 1000; 
  width: 85%;
  left: 15%;
}

.header .lbl{
  align-self: center;
  flex-grow: 1;
}
.header .lbl span{
  padding: 13px 16px 10px 16px;
  color: #000;
  background: #fff;
}
.header .lbl.live span{
  color: #000;
  background: #fff;
}
.header .lbl.on-demand{
  min-width: 184px;
}
.header .lbl.on-demand span{
  color: #ccda82;
  background: #000;
  border:1px solid #ccda82;
  margin:0 4px 0 0;
}
#channel-logo-mark{  
  z-index: 1000;
  flex: 1;
  text-align: center;
  display: inline-block;
  height: 100%;
}
#channel-logo-mark span{
  background-color: #000;
  padding:0 6px;
  display: inline-block;
  height: 80%;
  margin-top: 10%;
}
@media ( max-width: 800px ) {

  #channel-logo-mark span{
    background-color: #000;
    padding:0 6px;
    height: 100%;
    display: inline-block;
    height: 150%;
    margin-top: -12.5%;
  }

  header.header{
        width:100%;
        left:0;
        height:49px;
        top: 63px;  
    }
    .header .lbl{
      margin-left:3%
    }

}

#channel-logo-mark img{
    height: 100%;
}
.channel-msgs {  
	box-sizing: content-box;
  flex-grow: 8;
	overflow: hidden;
  z-index: 200;
  align-self: center;
  font-size: 140%;
	.ticker{

    display: inline-block;
    height: 2.7rem;
    line-height: 2.7rem;  
    white-space: nowrap;
    padding-left: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {

      display: inline-block;
      padding: 0 0.5rem;
      /*font-size: 0.82rem;*/
      color: white;   

    }

  }

}